#navbarDropdown:focus {
    box-shadow: none;
}
.btn-primary {
    background-color: #023f67 !important;
    border-color: #023f67 !important;
}
.dropdown-item.active,
.dropdown-item:active {
    background-color: #023f67 !important;
    border-color: #023f67 !important;
}
.form-check-input:checked {
    background-color: #023f67 !important;
    border-color: #023f67 !important;
}
*::selection {
    background-color: #222738;
    color: #fff;
}
.dark input:focus {
    background-color: #222738 !important;
    color: #fff !important;
    border-color: #222738 !important;
}
h2.dark button {
    background-color: #222738 !important;
    color: #fff !important;
}
h2.dark button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%230c63e4%27%3e%3cpath fillRule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e");
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background-color: white;
    box-sizing: border-box;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(-100deg, #222738, #84898f);
}
.dark .apexcharts-menu-open {
    background-color: #222738 !important;
}
.dark .apexcharts-menu-open .apexcharts-menu-item:hover {
    background-color: #222738 !important;
    color: #fff;
}

/* tooltip */

#button-tooltip > .tooltip-inner {
    background-color: #023f67;
    color: #fff;
    transform: translateY(-5px);
}

#button-tooltip > .tooltip-arrow::before {
    right: 2px;
    transform: translateY(-5px);
    border-color: #023f67 transparent transparent transparent;
    border-width: 10px;
}

.Header_Line {
    position: relative;
    z-index: 2;
}
.Header_Line::after {
    content: "";
    width: 25%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.Header_Line::before {
    content: "";
    width: 25%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
